[Unit]
Description=WireGuard Handshake Monitor
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/unknown_handshake.py
Restart=always
RestartSec=3

Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target